# This is a .gitignore file for a Node.js project
# It specifies files and directories that should be ignored by Git.

node_modules/*
package-lock.json
.DS_Store
.env
npm-debug.log
yarn-error.log
.vscode/
.idea/
.vscode-test/
 *.dev.*
# Ignore everything in the session folder (all files and subfolders)
session/**
# Ignore everything in the database/data folder (all files and subfolders)
database/data/**

# You can add exceptions below if needed (e.g., !database/data/.keep)
# config.json
database/data/*
!database/data/.gitkeep
bot/auth.dev.js
bot/connect.dev.js
bot/handler.dev.js
