# This is a .gitignore file for a Node.js project
# It specifies files and directories that should be ignored by Git.
node_modules/*
package-lock.json
.DS_Store
.env
npm-debug.log
yarn-error.log
.vscode/
.idea/
.vscode-test/

# Ignore session and database files
session/*
database/data/*